<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <link rel="stylesheet" type="text/css" href="panel.css">
   
  </head>
  
<body>
  


  <main> 
    <header>
     <img id='pin' src="pin.png"/>
      <h4> Admin </h4>
    </header>
    
  <img src="mystore~2.jpg"/>
  
  <div id="mainleft">
    <div id="nav"> 
     <ul>
       <li>Item Lookup</li>
       <li>Update Catalog</li>
       <li>Sale Analysis</li>
     </ul>
    </div>
    
    <div id="utility">
      
    <h4> look up product with </h4>
    
     <img src="mystore~2.jpg" /> 
     
    <input id="input" placeholder="Enter barcode" autofocus>
    <span><button id="look">look up</button></span>
  
    <dl id="hint">
      <dt> <h4>Hint :</h4> </dt>
      <p>A physical barcode scanner is an alternative way to keyboard for entering barcode prior to product look up.
      </p>
      </dl>
      
   
    </div>
    
  </div>
  </main>
  
  <div id="backdrop" onclick="Close()"> </div>
  
  <section> 
  <img class="drawer" id="stack" src="stack.png" />
  <img class="drawer" id="hide" src="drawer.png" /> 
  
    <p id="first">PREVIEWS</p>
    <ul id="preview">
      <li>Total goods: <span>60</span></li>
      <li>Total price: <span>$12,000</span></li>
       <li><button id="process">process</button></li>
       <li><button id="cancel">cancel</button></li>
    </ul>
    
  
  
    <div id="contain">
      <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>            
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
      <article>
          <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color:pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li> Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li> Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li> Price: $500 </li>
            <li>Quantity: 30</li>
            <li> Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
         <article>
          <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li></li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li> Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li> Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>custard </summary>
          <ul>
            <li>Price: $500 </li>
            <li>Quantity: 30</li>
            <li>Color: pale blue </li>
            <li>Size: 5g </li>
         </ul>
         </details>
      </article>
      </div>
  </section>
  
  
  
  <dialog id="item" >

  <form method="dialog">
    <button id="exit" value="cancel">X</button>
  </form>
   
  <img id="mugshot" alt="mugshot" /> 
  
  <div id="info">
  <p>Name: <span class="data" id="name">st-ives</span></p>
  <p>
    <span class="first"> Price: <span class="data"><b id="price">$200</b></span></span>
    <span>Available: <span class="data"><b id="available">20</b></span></span>
  </p>
  <p>Quantity:
  <span><input id="quantity" type="number" value=1 autofocus></span>
  </p>
  <p>
    <span class="first">Size: <span class="data" id="size">none</span></span>
    <span>Colour: <span class="data" id="colour">white</span></span>
  </p>
  <p>Category: <span class="data" id="category">beauty</span></p>
  <p>Sub_catg: <span class="data" id="sub_catg">skin care</span></p>
  <p>Description: <span class="data" id="description">st-ives nourishing body cream<span></p>
  </div>
  
  <form method="dialog">
    <button id="add" value="cancel">Add item</button>
  </form>

  </dialog>
  
  
  <dialog id="not_found">
  <p> Item not found ! </p>
  <form method="dialog">
  <p> <button value="cancel">cancel</button> </p>
  </form>
  </dialog>
  
 
  
 <script src="panel.js"></script>
 
</body>
</html>