<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <link rel="stylesheet" type="text/css" href="panel.css">
   
  </head>
  
<body>
  


  <main> 
    <header>
     <img id='pin' src="pin.png"/>
      <h4> Admin </h4>
    </header>
    
  <img src="mystore~2.jpg"/>
  
  <div id="mainleft">
    <div id="nav"> 
     <ul>
       <li>Item Lookup</li>
       <li>Update Catalog</li>
       <li>Sale Analysis</li>
     </ul>
    </div>
    
    <form id="utility">
      
    <h4> look up product with </h4>
    
     <img src="mystore~2.jpg" /> 
     
    <input placeholder="Enter barcode" autofocus>
    <span><button>look up</button></span>
  
    <dl id="hint">
      <dt> <h4>Hint :</h4> </dt>
      <p>A physical barcode scanner is an alternative way to keyboard for entering barcode prior to product look up.
      </p>
      </dl>
      
   
    </form>
    
  </div>
  </main>
  
  <div id="backdrop" onclick="Close()"> </div>
  
  <section> 
  <img class="drawer" id="stack" src="stack.png" />
  <img class="drawer" id="hide" src="drawer.png" /> 
  
    <p id="first">PREVIEWS</p>
    <ul id="preview">
      <li>Total goods: <span>60</span></li>
      <li>Total price: <span>$12,000</span></li>
       <li><button id="process">process</button></li>
       <li><button id="cancel">cancel</button></li>
    </ul>
    
  
  
    <div id="contain">
      <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
      <article>
          <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
         <article>
          <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
        <article>
         <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      
       <article>
        <span>X</span>
       <img src="mystore~2.jpg" /> 
       <details>
         <summary>Custard 5g </summary>
          <ul>
            <li><span> Price: </span> $500 </li>
            <li><span> Amount: </span> 30</li>
            <li><span> Color: </span> pale blue </li>
         </ul>
         </details>
      </article>
      </div>
  </section>
  
 
  
 <script src="panel.js"></script>
 
</body>
</html>