{% load static %}
<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Store Report Screen</title>
    
   <link rel="stylesheet" type="text/css" href="{% static 'store/css/report.css' %}">
    
  <style id="fullScreen">
   /* 
   this style is only enable on browser fullScreen mode.
   */
  
     header { 
       padding-top: 25px;
     }
     
     #chart {
       margin-top: 60px;
     }
     
     #nav {
       margin-top: 120px;
     }
     
     #right {
       margin-top: 60px;
     }
     
     #header > img {
       top: 40px;
     }
 </style>
 
  </head>
  
  
<body>

     
     <div id="header">
       <img src="{% static 'store/image/logo.jpg' %}" alt="logo" />
       <header>
       <b>SALE REPORT</b>
       </header>
       <div id="span">
         <span id="first" data-week="1"> 1 week </span>
         <span data-week="2"> 2 weeks </span>
         <span data-week="4"> 4 weeks</span>
         <span data-week="8"> 8 weeks </span>
         <span data-week="16"> 16 weeks </span>
       </div>
       <hr/>
     </div>
     
   
    
    <section id="left">  
     
    
    <ul id="nav">
       <li data-url="{% url "app:panel" %}">Lookup</li>
       <li data-url="{% url "app:update" %}">Update</li>
       <li id="active" data-url="{% url "app:report" %}">Report</li>
       <li data-url="{% url "app:return" %}">Returns</li>
     </ul>
    
    
     <div id="chart">
      <details open>
       <summary><b>Sale Chart</b>
       <span> a plot of items sold per day in the last 28 days</span>
       </summary>
      <div id="svg1" class="svg"> 
      <svg>
      </svg>
      </div>
      </details>
      
      <details>
       <summary><b>Profit Chart</b>
       <span> a plot of profit made per day in the last 28 days</span>
       </summary>
      <div id="svg2" class="svg"> 
      <svg>
      </svg>
      </div>
      </details>
      
     </div>
     </section>
     
     <section id="right"> 

     <article id="sales" class="growth">
       <h6>Total Sale</h6>
       <p>1200ffghhhhh0yyyuuuyy</p>
     </article>

     <article id="profit" class="growth">
       <h6> Gross Profit </h6>
       <p> $20000gghhhjjjjhhdhjdj</p>
     </article>
       
     <article id="item">
       <h6>Most sold item</h6>
       <p>Cocac olagg ghhhbdjdjd</p>
     </article>

     <article id="category">
       <h6>Most sold category</h6>
       <p>Beverageffg ghhhgdhdhdh</p>
     </article>

     <article id="day">
       <h6>Day with most sold</h6>
       <p>Wednesdaygg ghhhdhdjdjd</p>
     </article>
     
     </section>
   
 
<script src="{% static 'store/script/report.js' %}"></script>     
<script src="{% static 'store/script/d3.min.js' %}"></script>
<script src="{% static 'store/script/data.js' %}"></script>   
<script src="{% static 'store/script/chart.js' %}"></script>   


</body>
</html>