{% load static %}
<!DOCTYPE html>
<html>
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store Update Screen</title>
    
   <link rel="stylesheet" type="text/css" href="{% static 'store/css/update.css' %}">
    
  <style id="fullScreen">
    /* 
    this style is only enable on browser fullScreen mode.
    */
     body { 
       padding-top: 40px;
     }
  </style>
 
  </head>
    
<body>
  
  
  <img src="{% static 'store/image/logo.jpg' %}"/>
  
  <div id="contain">
  
  <ul id="nav">
     <li><a href="{% url "app:panel" %}">Lookup</a></li>
     <li><a id="active" href="{% url "app:update" %}">Update</a></li>
     <li><a href="{% url "app:report" %}">Report</a></li>
     <li><a href="{% url "app:return" %}">Returns</a></li>
  </ul>

    
  <div id="upload">
  <details>
    <summary>Guild</summary>
    <ul>
      <li> You can only upload and process one file at a time.</li>
      <li>Only .xlsx and .csv file format can be process.</li>
      <li>Your data describing your items can contain a barcode, name, category, sub-category, color, size, description, quantity, cost price and selling price column. And all the column name must be spelled as they appear here.</li>
      <li>Your data describing your items must contain a barcode, name, category, quantity, cost price and selling price column.</li>
      <li>Your barcode, name, category, sub-category, color, size, cost price and selling price data can be atmost 20 characters.</li>
     </ul>
     
    </details>
    
    
    <section>
      <h4>UPLOAD FILE</h4>
      <p id="error"> </p>
      <article>
      <span id="filename">constant.csv</span>
      <img src="{% static 'store/image/upload.png' %}"/>
      <span>
      <h3> Drag & Drop </h3>
      
      <p>
      your files here or 
     <input
     type="file"
     id="fileElem"
     accept=".csv, .xlsx"
     class="visually-hidden" />
    <label id="browse" for="fileElem">browse</label>
      to upload
      </p>
      <p id="warn">Only one file can be process at a time and max file size is 3mb.</p>
      </span>
      </article>
     
     <p><button id="process">Process</button></p>
    </section>
    
    </div>
    
    </div>
  
  <!-- construct the dialog that displays success-->
  <dialog id="success" autofocus>
  <p>Process Successful !</p>
  <form method="dialog">
  <p> <button class="cancel">Okay</button> </p>
  </form>
  </dialog>
  
  
  <!-- construct the dialog that displays error-->
  <dialog id="not_found">
  <p> Failed, try again. </p>
  <form method="dialog">
  <p> <button class="cancel">cancel</button> </p>
  </form>
  </dialog>
  
 
  <!-- construct the dialog that displays loader-->
  <dialog id="spiner" autofocus>
  <img src="{% static 'store/image/logo.jpg' %}" alt="site logo"/>
  </dialog>

  
  
<script src="{% static 'store/script/update.js' %}"></script>

</body>
</html>