 
 
   @keyframes spanAnime {
     from {
       transform: scale(1);
     }
     to {
       transform: scale(1.2);
     }
   }
   
   @keyframes visualAnime {
     from {
       transform: scale(1);
       opacity: 1;
     }
     to {
       transform: scale(0.6);
       opacity: 0;
     }
   }
   
   
    html {
      height: 100%;
      width: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: #FFF5EE !important;
        position: relative;
        user-select: none;
      }
      
      #header {
        position: fixed;
        width: 100%;
        padding: 15px 0 0 0;
        z-index: 1;
        background-color: #FFF5EE;
      }
      
      #header > hr {
        margin: 15px auto 5px auto;
        width: 60%;
        color: rgb(196, 152, 115);
      }
      
      #header header {
        font-size: 17px;
        text-align: center;
      }
      
      #span {
        display: flex;
        justify-content: center;
        margin: 20px 10px 0;
      }
      
      
      #span > span {
        margin: 0 1.5% 0 1.5%;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #dbd1d1;
        padding: 6px 10px 6px 10px;
        border-radius: 12px;
        border: 0.1px solid #bf9494;
        cursor: pointer;
        animation: spanAnime;
        animation-play-state: paused;
        animation-duration: 0.15s;
      }
      
      #span > span:hover {
        background-color: #d3c1c1;
      }
      
      #header b {
        opacity: 0.8;
      }
      
      #right {
        width: 15%;
        position: absolute;
        right: 5px;
        top: 90px;
        z-index: 0;
        margin-top: 30px;
      }
      
      #left {
        width: 83%;
        position: absolute;
        padding: 0;
        top: 50px;
      }

      #left > img {
        margin: 0;
        position: absolute;
        top: 60px;
        left: 20px;
        width: 40px;
        border-radius: 7px;
      }
    
      #nav {
         width: 21%;
         position: absolute;
         border-right: 4px ridge rgb(245, 197, 155);
         list-style: none;
         margin: 0;
         padding: 60px 0 40px 0;
         margin-top: 100px;
      }
      
      #nav li {
        margin-bottom: 15px;
        text-align: center;
      }
      
      #nav a {
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        padding: 9px;
        width: 60%;
        background-color: rgb(219, 87, 25);
        border: 1px solid rgb(219, 87, 25);
      }
      
      a#active {
        background-color: #FFF5EE;
        color: rgb(179, 73, 24)
      }
            

      #chart {
        width: 75%;
        position: absolute;
        right: 1px;
        top: 50px;
        padding-bottom: 70px;
        margin-top: 30px;
      }
      
      #chart details {
        margin: auto;
        border: 1px solid rgb(204, 101, 4);
        width: 100%;
        border-radius: 10px;
        margin-bottom: 30px;
      }
      
      #chart summary {
        padding: 10px;
        margin-bottom: 1px;
        border-bottom: 1px solid rgb(204, 101, 4);
        border-radius: 10px;
        padding-left: 30px;
        font-size: 15px;
        cursor: pointer;
      }
      
      #chart span {
        position: relative;
        font-size: 14px;
        left: 70px;
        top: 3px;
      }
      
      #svg1 {
         padding: 20px 10px 0 20px;
         height: 350px;
         overflow-x: auto;
         overflow-y: hidden;
      }
      
      #svg1::-webkit-scrollbar {
        width: 8px;
        height: 11px;
      }
      
      /* Track */
      #svg1::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 3px;
      }
       
      /* Handle */
      #svg1::-webkit-scrollbar-thumb {
        background: #bd9795; 
        border-radius: 3px;
      }
      
      /* Handle on hover */
      #svg1::-webkit-scrollbar-thumb:hover {
        background: #ec807a;
      }
      
      #svg2 {
         padding: 20px 10px 0 20px;
         height: 350px;
         overflow-x: auto;
         overflow-y: hidden;
      }
      
      #svg2::-webkit-scrollbar {
        width: 8px;
        height: 11px;
      }
      
      /* Track */
      #svg2::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 3px;
      }
       
      /* Handle */
      #svg2::-webkit-scrollbar-thumb {
        background: #88aa90; 
        border-radius: 3px;
      }
      
      /* Handle on hover */
      #svg2::-webkit-scrollbar-thumb:hover {
        background: #68a577; 
      }
   
      svg {
         height: 100%;
         position: relative;
       }
       
       #xAxisG text, #yAxisG text {
        fill: grey;
        font-size: 12px;
       }
      
       #yAxisG text {
        font-size: 14px;
        fill: #4f442b;
       }
       
       circle {
         cursor: pointer;
       }
       
       .profitPoints text, .salePoints text {
         font-size: 12px;
         opacity: 0;
       }
       
      
      article {
        background-color: rgb(230, 159, 118);
        width: 70%;
        margin: auto;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        animation: visualAnime;
        animation-play-state: paused;
        animation-duration: 0.7s;
        animation-delay: 0.5;
      }
      
      article > p {
        text-align: center;
        margin: 13px 5px 9px 5px;
        overflow-wrap: break-word;
        font-size: 13px;
        text-transform: capitalize;
      }
      
      article > h6 {
        text-align: center;
        font-size: 15px;
        margin: 5px;
        opacity: 0.8;
      }
      
      #chart b {
        opacity: 0.7;
      }

      #profit {
        background-color: rgb(127, 184, 176);
      }

      #item {
        background-color: #dbd1d1;
      }
 
      #category {
        background-color: rgb(184, 168, 124);
      }

      #day {
        background-color: rgb(149, 195, 209);
      }
      

  
      
@media only screen and (max-width: 1000px) { 
  #chart span {
    display: none;
  }
}
  
      
@media only screen and (max-width: 800px) { 
  
     #header header {
       font-size: 15px;
     }
     
     #span > span {
       font-size: 11px;
       cursor: auto;
     }
     
     section > p {
       font-size: 12px;
     }
     
     #right {
       padding: 5px;
     }
     
     #left {
       width: 80%;
     }
     
     #left > img {
       width: 35px;
     }
     
     article {
       width: 90%;
       padding: 2px;
     }
     
     article > h6 {
       font-size: 12px;
       margin: 7px;
     }
     
     article > p {
       font-size: 10px;
     }
     
     #chart {
      width: 70%;
     }
     
     #nav {
       width: 25%;
     }
     
     #nav a {
       width: 70%;
       font-size: 12px;
       cursor: auto;
     }
     
     #chart summary {
       font-size: 13px;
       padding: 5px;
       padding-left: 30px;
       cursor: auto;
     }
     
     circle {
       cursor: auto;
     }
    
}
       