   
      @keyframes rotate {
        from {
          transform: rotateZ(0deg);
          width: 80px;
        }
        to {
          transform: rotateZ(360deg);
          width: 40px;
        }
      }
        
     
     body {
        margin: 0;
        padding: 0;
        background-color: #FFF5EE;
        user-select: none;
      }
      
      
      body > img {
        margin: 30px;
        width: 35px;
        position: absolute;
      }
      
      #contain {
        width: 100%;
        position: relative;
        top: 130px;
      }
      
      #nav {
         width: 22%;
         position: absolute;
         border-right: 4px ridge rgb(245, 197, 155);
         list-style: none;
         margin: 0;
         padding: 60px 0 40px 0;
         margin-top: 30px;
      }
      
      #nav li {
        position: relative;
        font-size: 15px;
        color: white;
        width: 60%;
        padding: 8px;
        margin: auto;
        margin-bottom: 15px;
        background-color: rgb(219, 87, 25);
        border: 1px solid rgb(219, 87, 25);
        text-align: center;
        cursor: pointer;
      }
      
      li#active {
        background-color: #FFF5EE;
        color: black;
      }
      
      
      #upload {
        width: 77%;
        position: absolute;
        right: 0;
        top: 0;
      }
      
     details {
        margin: auto;
        border: 1px solid rgb(180, 93, 11);
        width: 70%;
        border-radius: 10px;
        position: relative;
        bottom: 80px;
      }
      
      details li {
        font-size: 15px;
        margin-bottom: 10px;
        list-style: square;
      }
      
      summary {
        padding: 5px;
        border-bottom: 1px solid rgb(180, 93, 11);
        border-radius: 10px;
        padding-left: 30px;
        margin-bottom: 1px;
        cursor: pointer;
      }
     
      
      section > h4 {
        text-align: center;
        margin: 0;
        position: relative;
        bottom: 30px;
      }
      
      section button {
         padding: 10px;
         width: 150px;
         font-size: 16px;
         background-color: #00A693;
         cursor: pointer;
         margin-bottom: 80px;
      }
      section > p {
        text-align: center;
        margin-top: 30px;
      }
      
      #info {
        width: 80%;
        padding: 0 10px 0 10px;
        margin: 0 auto 20px auto;
        color: red;
        font-size: 14px;
        visibility: hidden;
        overflow-wrap: break-word;
      }
      
      article {
        border: 2px solid #91A3B0;
        background-color: #FFF5EE;
        border-radius: 5px;
        width: 70%;
        margin: auto;
        display: flex;
        position: relative;
        bottom: 10px;
        flex-direction: column;
        align-items: center;
      }
     
   
      article > input {
        width: 60%;
        padding: 7px 7px 7px 15px;
        font-size: 15px;
        border: 1.5px solid #91A3B0;
        border-radius: 5px;
        outline-color: #91A3B0;
        background-color: #FFF5EE;
      }
      
      #id {
        margin-bottom: 15px;
      }
      
      #code {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      
      #return {
        margin-bottom: 30px;
        margin-top: 3px;
        width: 40px;
      }
      
      article span {
        font-weight: bold;
        opacity: 0.7;
        font-size: 18px;
      }
      
      article > span {
        display: block;
        width: 60%;
        font-size: 11px;
      }
      #sale {
        text-align: center;
        width: 70%;
        padding-left: 30px;
        padding-right: 30px;
        overflow-wrap: break-word;
      }
      
      p:last-child {
        font-size: 14px;
        padding-left: 5px;
      }
  
     dialog {
       user-select: none;
     }
     
     dialog button {
      cursor: pointer;
      padding: 5px 10px 5px 10px;
     }
        
     #success {
       user-select: none;
       width: 300px;
       height: 150px;
       overflow: hidden;
       padding-top: 50px;
       position: fixed;
       background-color: #FFF5EE;
       border: 2px solid rgb(180, 93, 11);
     }
     
     dialog::backdrop {
          background: lightblue;
          opacity: 0.7;
     }
        
     
     #success  p {
       text-align: center;
     }
     
     #success > form {
       margin-top: 50px;
     }
     
     #success button {
       font-size: 14px;
       background-color: #00A693;
     }
     
  
      #spiner {
        background-color: #FFF5EE;
        position: fixed;
        top: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        text-align: center;
      }
      
      #spiner > img {
        width: 80px;
        border-radius: 20px;
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        position: relative;
        top: 35%
      }
      
      #not_found {
        width: 400px;
        height: 200px;
        overflow: hidden;
        padding-top: 50px;
        background-color: #FFF5EE;
        border: 2px solid rgb(180, 93, 11);
      }
      
      #not_found  p {
        text-align: center;
      }
      
      #not_found > form {
        margin-top: 50px;
      }
      
      #not_found button {
         font-size: 15px;
         background-color: #D3D3D3;
      }
      
    
     
    
    
@media only screen and (max-width: 800px) { 
  
      article {
        width: 75%;
      }

     #nav {
       width: 25%;
     }
     
     #upload {
       width: 74%;
     }
     
     #nav li {
       width: 70%;
       font-size: 12px;
       cursor: auto;
     }
      
      section > h4 {
        font-size: 15px;
      }
      
      section button {
        cursor: auto;
      }
      
      details {
        width: 80%;
      }
      
      summary {
        font-size: 14px;
        cursor: auto;
      }
      
      #success {
        width: 220px;
        height: 150px;
        padding-top: 20px;
      }
      
      #not_found {
        width: 270px;
        height: 150px;
        padding-top: 20px;
      }
      
     dialog button {
       cursor: auto;
     }
      
}
